build/
bin/
*.o
*.a
*.so
*.dylib
elm-stuff/
repository_cache/
package_repository/
tmp/
doc/wip/
.DS_Store
test/example/
test/example-lamdera/
tools/docs-patches/
.claude/settings.local.json
CLAUDE.md
.github/copilot-instructions.md
rulr/doc/
*.dlc
www/full_index/
test/scripts/dep_sync.actual
test/manual-test/
test/scripts/install-uninstall/actual/

dist/
foreign/Elm-Compiler/.gitignore
foreign/Elm-Compiler/.travis.yml
foreign/Elm-Compiler/cabal.config
foreign/Elm-Compiler/elm.cabal
foreign/Elm-Compiler/install-build.sh
foreign/Elm-Compiler/install-parser.sh
foreign/Elm-Compiler/LICENSE
foreign/Elm-Compiler/README.md
foreign/Elm-Compiler/roadmap.md
foreign/Elm-Compiler/builder/src/BackgroundWriter.hs
foreign/Elm-Compiler/builder/src/Build.hs
foreign/Elm-Compiler/builder/src/File.hs
foreign/Elm-Compiler/builder/src/Generate.hs
foreign/Elm-Compiler/builder/src/Http.hs
foreign/Elm-Compiler/builder/src/Reporting.hs
foreign/Elm-Compiler/builder/src/Stuff.hs
foreign/Elm-Compiler/builder/src/Deps/Bump.hs
foreign/Elm-Compiler/builder/src/Deps/Diff.hs
foreign/Elm-Compiler/builder/src/Deps/Registry.hs
foreign/Elm-Compiler/builder/src/Deps/Solver.hs
foreign/Elm-Compiler/builder/src/Deps/Website.hs
foreign/Elm-Compiler/builder/src/Elm/Details.hs
foreign/Elm-Compiler/builder/src/Elm/Outline.hs
foreign/Elm-Compiler/builder/src/Reporting/Exit.hs
foreign/Elm-Compiler/builder/src/Reporting/Task.hs
foreign/Elm-Compiler/builder/src/Reporting/Exit/Help.hs
foreign/Elm-Compiler/compiler/src/Compile.hs
foreign/Elm-Compiler/compiler/src/AST/Canonical.hs
foreign/Elm-Compiler/compiler/src/AST/Optimized.hs
foreign/Elm-Compiler/compiler/src/AST/Source.hs
foreign/Elm-Compiler/compiler/src/AST/Utils/Binop.hs
foreign/Elm-Compiler/compiler/src/AST/Utils/Shader.hs
foreign/Elm-Compiler/compiler/src/AST/Utils/Type.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Effects.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Environment.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Expression.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Module.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Pattern.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Type.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Environment/Dups.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Environment/Foreign.hs
foreign/Elm-Compiler/compiler/src/Canonicalize/Environment/Local.hs
foreign/Elm-Compiler/compiler/src/Data/Bag.hs
foreign/Elm-Compiler/compiler/src/Data/Index.hs
foreign/Elm-Compiler/compiler/src/Data/Name.hs
foreign/Elm-Compiler/compiler/src/Data/NonEmptyList.hs
foreign/Elm-Compiler/compiler/src/Data/OneOrMore.hs
foreign/Elm-Compiler/compiler/src/Data/Utf8.hs
foreign/Elm-Compiler/compiler/src/Data/Map/Utils.hs
foreign/Elm-Compiler/compiler/src/Elm/Constraint.hs
foreign/Elm-Compiler/compiler/src/Elm/Docs.hs
foreign/Elm-Compiler/compiler/src/Elm/Float.hs
foreign/Elm-Compiler/compiler/src/Elm/Interface.hs
foreign/Elm-Compiler/compiler/src/Elm/Kernel.hs
foreign/Elm-Compiler/compiler/src/Elm/Licenses.hs
foreign/Elm-Compiler/compiler/src/Elm/Magnitude.hs
foreign/Elm-Compiler/compiler/src/Elm/ModuleName.hs
foreign/Elm-Compiler/compiler/src/Elm/Package.hs
foreign/Elm-Compiler/compiler/src/Elm/String.hs
foreign/Elm-Compiler/compiler/src/Elm/Version.hs
foreign/Elm-Compiler/compiler/src/Elm/Compiler/Imports.hs
foreign/Elm-Compiler/compiler/src/Elm/Compiler/Type.hs
foreign/Elm-Compiler/compiler/src/Elm/Compiler/Type/Extract.hs
foreign/Elm-Compiler/compiler/src/Generate/Html.hs
foreign/Elm-Compiler/compiler/src/Generate/JavaScript.hs
foreign/Elm-Compiler/compiler/src/Generate/Mode.hs
foreign/Elm-Compiler/compiler/src/Generate/JavaScript/Builder.hs
foreign/Elm-Compiler/compiler/src/Generate/JavaScript/Expression.hs
foreign/Elm-Compiler/compiler/src/Generate/JavaScript/Functions.hs
foreign/Elm-Compiler/compiler/src/Generate/JavaScript/Name.hs
foreign/Elm-Compiler/compiler/src/Json/Decode.hs
foreign/Elm-Compiler/compiler/src/Json/Encode.hs
foreign/Elm-Compiler/compiler/src/Json/String.hs
foreign/Elm-Compiler/compiler/src/Nitpick/Debug.hs
foreign/Elm-Compiler/compiler/src/Nitpick/PatternMatches.hs
foreign/Elm-Compiler/compiler/src/Optimize/Case.hs
foreign/Elm-Compiler/compiler/src/Optimize/DecisionTree.hs
foreign/Elm-Compiler/compiler/src/Optimize/Expression.hs
foreign/Elm-Compiler/compiler/src/Optimize/Module.hs
foreign/Elm-Compiler/compiler/src/Optimize/Names.hs
foreign/Elm-Compiler/compiler/src/Optimize/Port.hs
foreign/Elm-Compiler/compiler/src/Parse/Declaration.hs
foreign/Elm-Compiler/compiler/src/Parse/Expression.hs
foreign/Elm-Compiler/compiler/src/Parse/Keyword.hs
foreign/Elm-Compiler/compiler/src/Parse/Module.hs
foreign/Elm-Compiler/compiler/src/Parse/Number.hs
foreign/Elm-Compiler/compiler/src/Parse/Pattern.hs
foreign/Elm-Compiler/compiler/src/Parse/Primitives.hs
foreign/Elm-Compiler/compiler/src/Parse/Shader.hs
foreign/Elm-Compiler/compiler/src/Parse/Space.hs
foreign/Elm-Compiler/compiler/src/Parse/String.hs
foreign/Elm-Compiler/compiler/src/Parse/Symbol.hs
foreign/Elm-Compiler/compiler/src/Parse/Type.hs
foreign/Elm-Compiler/compiler/src/Parse/Variable.hs
foreign/Elm-Compiler/compiler/src/Reporting/Annotation.hs
foreign/Elm-Compiler/compiler/src/Reporting/Doc.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error.hs
foreign/Elm-Compiler/compiler/src/Reporting/Report.hs
foreign/Elm-Compiler/compiler/src/Reporting/Result.hs
foreign/Elm-Compiler/compiler/src/Reporting/Suggest.hs
foreign/Elm-Compiler/compiler/src/Reporting/Warning.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Canonicalize.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Docs.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Import.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Json.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Main.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Pattern.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Syntax.hs
foreign/Elm-Compiler/compiler/src/Reporting/Error/Type.hs
foreign/Elm-Compiler/compiler/src/Reporting/Render/Code.hs
foreign/Elm-Compiler/compiler/src/Reporting/Render/Type.hs
foreign/Elm-Compiler/compiler/src/Reporting/Render/Type/Localizer.hs
foreign/Elm-Compiler/compiler/src/Type/Error.hs
foreign/Elm-Compiler/compiler/src/Type/Instantiate.hs
foreign/Elm-Compiler/compiler/src/Type/Occurs.hs
foreign/Elm-Compiler/compiler/src/Type/Solve.hs
foreign/Elm-Compiler/compiler/src/Type/Type.hs
foreign/Elm-Compiler/compiler/src/Type/Unify.hs
foreign/Elm-Compiler/compiler/src/Type/UnionFind.hs
foreign/Elm-Compiler/compiler/src/Type/Constrain/Expression.hs
foreign/Elm-Compiler/compiler/src/Type/Constrain/Module.hs
foreign/Elm-Compiler/compiler/src/Type/Constrain/Pattern.hs
foreign/Elm-Compiler/docs/builder-binary.md
foreign/Elm-Compiler/docs/interface-files.md
foreign/Elm-Compiler/docs/elm.json/application.md
foreign/Elm-Compiler/docs/elm.json/package.md
foreign/Elm-Compiler/docs/optimization/cheat-sheet.md
foreign/Elm-Compiler/docs/optimization/ir-to-js-mapping.md
foreign/Elm-Compiler/docs/optimization/optimize-catalog.md
foreign/Elm-Compiler/docs/optimization/walkthrough.md
foreign/Elm-Compiler/docs/upgrade-instructions/0.16.md
foreign/Elm-Compiler/docs/upgrade-instructions/0.17.md
foreign/Elm-Compiler/docs/upgrade-instructions/0.18.md
foreign/Elm-Compiler/docs/upgrade-instructions/0.19.0.md
foreign/Elm-Compiler/docs/upgrade-instructions/0.19.1.md
foreign/Elm-Compiler/docs/upgrade-instructions/earlier.md
foreign/Elm-Compiler/hints/bad-recursion.md
foreign/Elm-Compiler/hints/comparing-custom-types.md
foreign/Elm-Compiler/hints/comparing-records.md
foreign/Elm-Compiler/hints/implicit-casts.md
foreign/Elm-Compiler/hints/import-cycles.md
foreign/Elm-Compiler/hints/imports.md
foreign/Elm-Compiler/hints/infinite-type.md
foreign/Elm-Compiler/hints/init.md
foreign/Elm-Compiler/hints/missing-patterns.md
foreign/Elm-Compiler/hints/optimize.md
foreign/Elm-Compiler/hints/port-modules.md
foreign/Elm-Compiler/hints/recursive-alias.md
foreign/Elm-Compiler/hints/repl.md
foreign/Elm-Compiler/hints/shadowing.md
foreign/Elm-Compiler/hints/tuples.md
foreign/Elm-Compiler/hints/type-annotations.md
foreign/Elm-Compiler/installers/README.md
foreign/Elm-Compiler/installers/linux/Dockerfile
foreign/Elm-Compiler/installers/linux/README.md
foreign/Elm-Compiler/installers/mac/Distribution.xml
foreign/Elm-Compiler/installers/mac/make-installer.sh
foreign/Elm-Compiler/installers/mac/postinstall
foreign/Elm-Compiler/installers/mac/preinstall
foreign/Elm-Compiler/installers/mac/README.md
foreign/Elm-Compiler/installers/mac/Resources/en.lproj/conclusion.rtf
foreign/Elm-Compiler/installers/mac/Resources/en.lproj/welcome.rtf
foreign/Elm-Compiler/installers/mac/helper-scripts/elm-startup.sh
foreign/Elm-Compiler/installers/mac/helper-scripts/uninstall.sh
foreign/Elm-Compiler/installers/npm/.gitignore
foreign/Elm-Compiler/installers/npm/.npmignore
foreign/Elm-Compiler/installers/npm/binary.js
foreign/Elm-Compiler/installers/npm/install.js
foreign/Elm-Compiler/installers/npm/package.json
foreign/Elm-Compiler/installers/npm/PUBLISHING.md
foreign/Elm-Compiler/installers/npm/README.md
foreign/Elm-Compiler/installers/npm/troubleshooting.md
foreign/Elm-Compiler/installers/npm/packages/darwin_arm64/package.json
foreign/Elm-Compiler/installers/npm/packages/darwin_arm64/README.md
foreign/Elm-Compiler/installers/npm/packages/darwin_x64/package.json
foreign/Elm-Compiler/installers/npm/packages/darwin_x64/README.md
foreign/Elm-Compiler/installers/npm/packages/linux_arm64/package.json
foreign/Elm-Compiler/installers/npm/packages/linux_arm64/README.md
foreign/Elm-Compiler/installers/npm/packages/linux_x64/package.json
foreign/Elm-Compiler/installers/npm/packages/linux_x64/README.md
foreign/Elm-Compiler/installers/npm/packages/win32_x64/package.json
foreign/Elm-Compiler/installers/npm/packages/win32_x64/README.md
foreign/Elm-Compiler/installers/win/CreateInternetShortcut.nsh
foreign/Elm-Compiler/installers/win/inst.dat
foreign/Elm-Compiler/installers/win/logo.ico
foreign/Elm-Compiler/installers/win/make_installer.cmd
foreign/Elm-Compiler/installers/win/Nsisfile.nsi
foreign/Elm-Compiler/installers/win/README.md
foreign/Elm-Compiler/installers/win/removefrompath.vbs
foreign/Elm-Compiler/installers/win/uninst.dat
foreign/Elm-Compiler/installers/win/updatepath.vbs
foreign/Elm-Compiler/installers/win/welcome.bmp
foreign/Elm-Compiler/parser/Main.hs
foreign/Elm-Compiler/parser/README.md
foreign/Elm-Compiler/parser/SExpr.hs
foreign/Elm-Compiler/reactor/check.py
foreign/Elm-Compiler/reactor/elm.json
foreign/Elm-Compiler/reactor/assets/favicon.ico
foreign/Elm-Compiler/reactor/assets/source-code-pro.ttf
foreign/Elm-Compiler/reactor/assets/source-sans-pro.ttf
foreign/Elm-Compiler/reactor/assets/styles.css
foreign/Elm-Compiler/reactor/src/Deps.elm
foreign/Elm-Compiler/reactor/src/Errors.elm
foreign/Elm-Compiler/reactor/src/Index.elm
foreign/Elm-Compiler/reactor/src/mock.txt
foreign/Elm-Compiler/reactor/src/NotFound.elm
foreign/Elm-Compiler/reactor/src/Index/Icon.elm
foreign/Elm-Compiler/reactor/src/Index/Navigator.elm
foreign/Elm-Compiler/reactor/src/Index/Skeleton.elm
foreign/Elm-Compiler/terminal/impl/Terminal.hs
foreign/Elm-Compiler/terminal/impl/Terminal/Chomp.hs
foreign/Elm-Compiler/terminal/impl/Terminal/Error.hs
foreign/Elm-Compiler/terminal/impl/Terminal/Helpers.hs
foreign/Elm-Compiler/terminal/impl/Terminal/Internal.hs
foreign/Elm-Compiler/terminal/src/Bump.hs
foreign/Elm-Compiler/terminal/src/Develop.hs
foreign/Elm-Compiler/terminal/src/Diff.hs
foreign/Elm-Compiler/terminal/src/Init.hs
foreign/Elm-Compiler/terminal/src/Install.hs
foreign/Elm-Compiler/terminal/src/Main.hs
foreign/Elm-Compiler/terminal/src/Make.hs
foreign/Elm-Compiler/terminal/src/Publish.hs
foreign/Elm-Compiler/terminal/src/Repl.hs
foreign/Elm-Compiler/terminal/src/Develop/Socket.hs
foreign/Elm-Compiler/terminal/src/Develop/StaticFiles.hs
foreign/Elm-Compiler/terminal/src/Develop/Generate/Help.hs
foreign/Elm-Compiler/terminal/src/Develop/Generate/Index.hs
foreign/Elm-Compiler/terminal/src/Develop/StaticFiles/Build.hs
foreign/Elm-Compiler/tests/optimization/README.md
foreign/Elm-Compiler/tests/optimization/run-tests.sh
foreign/Elm-Compiler/tests/optimization/run.hs
foreign/Elm-Compiler/tests/optimization/snippets/color.elm
foreign/Elm-Compiler/tests/optimization/snippets/complexPort.elm
foreign/Elm-Compiler/tests/optimization/snippets/cycle.elm
foreign/Elm-Compiler/tests/optimization/snippets/deepPattern.elm
foreign/Elm-Compiler/tests/optimization/snippets/enums_only.elm
foreign/Elm-Compiler/tests/optimization/snippets/fields.elm
foreign/Elm-Compiler/tests/optimization/snippets/patternShare.elm
foreign/Elm-Compiler/tests/optimization/snippets/ports.elm
foreign/Elm-Compiler/tests/optimization/snippets/recordAlias.elm
foreign/Elm-Compiler/tests/optimization/snippets/recordUpdate.elm
foreign/Elm-Compiler/tests/optimization/snippets/sumList.elm
foreign/Elm-Compiler/tests/optimization/snippets/tailMismatch.elm
foreign/Elm-Compiler/tests/optimization/snippets/unbox.elm
foreign/Elm-Compiler/worker/elm.cabal
foreign/Elm-Compiler/worker/elm.json
foreign/Elm-Compiler/worker/nginx.conf
foreign/Elm-Compiler/worker/outlines/compile/elm.json
foreign/Elm-Compiler/worker/outlines/repl/elm.json
foreign/Elm-Compiler/worker/src/Artifacts.hs
foreign/Elm-Compiler/worker/src/Cors.hs
foreign/Elm-Compiler/worker/src/Errors.elm
foreign/Elm-Compiler/worker/src/Main.hs
foreign/Elm-Compiler/worker/src/Endpoint/Compile.hs
foreign/Elm-Compiler/worker/src/Endpoint/Quotes.hs
foreign/Elm-Compiler/worker/src/Endpoint/Repl.hs
foreign/Elm-Compiler/worker/src/Endpoint/Slack.hs
